Incubator_node_red_flow.txt
[{"id":"3e77d543.c1882a","type":"ibmiot in","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"abc123","applicationId":"","deviceType":"arduino","eventType":"status","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":false,"allEvents":false,"allCommands":false,"allFormats":false,"x":96,"y":307,"z":"43a3028d.a92cb4","wires":[["5ab4f6d4.567888"]]},{"id":"ae0082ac.51ff8","type":"function","name":"temp","func":"return {payload:msg.payload.d};","outputs":1,"valid":true,"x":676.5,"y":361,"z":"43a3028d.a92cb4","wires":[["c0c482df.3f3b8","ec8fbcaa.13704"]]},{"id":"c0c482df.3f3b8","type":"debug","name":"device data","active":true,"console":"false","complete":"payload","x":751.5,"y":212.99998474121094,"z":"43a3028d.a92cb4","wires":[]},{"id":"ec8fbcaa.13704","type":"cloudant out","service":"atx-incubator-cloudantNoSQLDB","cloudant":"","name":"Temps_insert","database":"temps","payonly":true,"operation":"insert","x":853,"y":364,"z":"43a3028d.a92cb4","wires":[]},{"id":"4f927b12.b06d84","type":"function","name":"Form msg","func":"var time = new Date().getTime();\nvar date = new Date(time);\n\nmsg = {\n    payload: {\n        d: {\n            time: msg.payload.ts,\n            temp: msg.payload.d.temp\n        }\n    }\n    \n}\nreturn msg;","outputs":1,"valid":true,"x":468,"y":357,"z":"43a3028d.a92cb4","wires":[["ae0082ac.51ff8","9c57ea6.b7c3418"]]},{"id":"9c57ea6.b7c3418","type":"debug","name":"","active":false,"console":"false","complete":"payload.d","x":271.1999969482422,"y":216.1999969482422,"z":"43a3028d.a92cb4","wires":[]},{"id":"5ab4f6d4.567888","type":"delay","name":"1 minute","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":272.20001220703125,"y":359.20001220703125,"z":"43a3028d.a92cb4","wires":[["4f927b12.b06d84"]]}]